@page "/Experience"

<PageTitle>A&#178;Ron</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="my-16">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="20">
                <MudText Typo="Typo.h5" Class="pa-4" Color="Color.Primary">Deadline Management</MudText>
                <MudExpansionPanels Elevation="20">
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Schedule" Class="mr-1" />
                                <MudText Typo="Typo.subtitle1">Stayin' On Schedule</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I built an application for the sports department of a major television
                                network.  It enables scheduling of payments and negotiations with 
                                the staff and crew required to put sporting events on TV.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.HealthAndSafety" Class="mr-1" />
                                <MudText Typo="Typo.subtitle1">Always Approved</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I built an application for a mid-sized healthcare
                                company that enables them to track signatures and chain of trust
                                on supply orders as they move from bidding process to completion.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="20">
                <MudText Typo="Typo.h5" Class="pa-4" Color="Color.Primary">Security Matters</MudText>
                <MudExpansionPanels Elevation="20">
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Security" Class="mr-1" />
                                <MudText Typo="Typo.subtitle1">Lock A Doc</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I integrated with the API of an existing document management system to
                                enable an international bank to flag documents for redaction.
                                It locks the security status on offending documents and assigns
                                them to the individual who is qualified to perform the necessary redactions.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Search" Class="mr-1" />
                                <MudText Class="d-inline-block" Typo="Typo.subtitle1">Secret Search</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I built a search function for my company's base-application that intelligently
                                provides users with fields based on their licensing status in the system.
                                Some tiers of users can search on every field, others can't see the
                                search at all, while most have some limited in-between functionality.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Elevation="20">
                <MudText Typo="Typo.h5" Class="pa-4" Color="Color.Primary">Smarter Forms</MudText>
                <MudExpansionPanels Elevation="20">
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Dashboard" Class="mr-1" />
                                <MudText Typo="Typo.subtitle1">Dashing Dashboards</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I created a dashboard application for a multi-national law firm that
                                assists them in preserving evidence for a legally required timespan
                                after a trial.  Once the required period has ended, the dashboard
                                guides the user through a process of notifying the affected parties,
                                providing an opportunity to send copies to those parties,
                                and finally marking the documents for destruction.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Web" Class="mr-1" />
                                <MudText Class="d-inline-block" Typo="Typo.subtitle1">Web of Complexity</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I created a smart-form for a multi-national investment and advisory firm to enable
                                them to collect tax information from their clients.  It has hundreds of possible states that
                                change based on the answers being provided.  Due to the length and complexity of the form,
                                its precise state must be saved and retrieved to allow completion across multiple sessions.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                    <MudExpansionPanel>
                        <TitleContent>
                            <span class="d-flex flex-row justify-start align-center">
                                <MudIcon Icon="@Icons.Material.Filled.DynamicForm" Class="mr-1" />
                                <MudText Class="d-inline-block" Typo="Typo.subtitle1">Data Is Dynamic</MudText>
                            </span>
                        </TitleContent>
                        <ChildContent>
                            <MudText Typo="Typo.body1">
                                I built an application for a small agricultural company that converts data from their
                                obsolete accounting software to a format that can be imported into the replacement program.
                                It also contained a dashboard to review the data for accuracy before export.
                            </MudText>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>